@{
    ViewData["Title"] = "Gestión de Ubicaciones";
}

<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header bg-dark d-flex justify-content-between align-items-center">
                <label class="fs-4 text-light">Gestión de Ubicaciones</label>
            </div>
            <div class="card-body">
                <table id="tbAllLocations"></table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/jslocation/location.js"></script>
}